{% extends "base.htm" %}
{% load static %}

{% block css_style %}
    <link rel="stylesheet" href="{%  static "challenges/challenges.css" %}">
    <link rel="stylesheet" href="{%  static "challenges/includes/header.css" %}">
{% endblock %}
{% block title %} All Challenges {% endblock %}


{% block body %}
{%include "challenges/includes/navbar.htm"  with active_page="index" %}
    <ul>
        {% for month in months %}
        <li><a href="{% url "month-challenge" month %}">{{month}}</li>
        
        {% endfor %}
    </ul>
{% endblock %}
